@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kaushan+Script&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 15, 15, 21;
  --background-end-rgb: 15, 15, 21;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 15, 15, 21;
    --background-end-rgb: 15, 15, 21;
  }
}

body {
  color: rgb(var(--foreground-rgb)) !important;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  font-family: "Bebas Neue", cursive;
}
.custom-gradient {
  background: linear-gradient(
    138deg,
    rgba(163, 93, 222, 1) 0%,
    rgba(182, 116, 237, 1) 0%,
    rgba(182, 116, 237, 1) 0%,
    rgba(163, 93, 222, 1) 0%
  );
  transition-duration: 10s;
  transition: all;
}
.custom-gradient:hover {
  background: linear-gradient(
    138deg,
    rgba(163, 93, 222, 1) 55%,
    rgba(182, 116, 237, 1) 55%,
    rgba(182, 116, 237, 1) 69%,
    rgba(163, 93, 222, 1) 69%
  );
  filter: drop-shadow(0px 0px 10px rgba(182, 116, 237, 1));
}

@keyframes gradientBG {
  0% {
    background: linear-gradient(
      138deg,
      rgba(163, 93, 222, 1) 0%,
      rgba(182, 116, 237, 1) 0%,
      rgba(182, 116, 237, 1) 0%,
      rgba(163, 93, 222, 1) 0%
    );
  }
  50% {
    background: linear-gradient(
      138deg,
      rgba(163, 93, 222, 1) 55%,
      rgba(182, 116, 237, 1) 55%,
      rgba(182, 116, 237, 1) 69%,
      rgba(163, 93, 222, 1) 69%
    );
  }
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.fade-enter {
  opacity: 0;
  transition: opacity 500ms ease-in;
}
.fade-enter-active {
  opacity: 1;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}

/* Heading Styles */
.typograph-heading-1 {
  @apply text-4xl sm:text-5xl md:text-6xl font-bold;
}

.typograph-heading-2 {
  @apply text-3xl sm:text-4xl md:text-5xl font-semibold;
}

.typograph-heading-3 {
  @apply text-xl md:text-2xl font-semibold;
}

/* Body Text Styles */
.typograph-body-text {
  @apply text-base sm:text-lg md:text-xl leading-relaxed;
}

.typograph-subtext {
  @apply text-sm md:text-base leading-relaxed font-normal;
}

/* Caption Styles */
.typograph-caption {
  @apply text-xs sm:text-sm md:text-base italic;
}

/* Links */
.typograph-paragraph {
  @apply text-base sm:text-lg md:text-xl leading-relaxed mb-4;
}

.rz-container {
  @apply px-5 md:px-8 lg:px-16 max-w-2xl;
}
